# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/
*.egg-info

# Django specific
*.sqlite3
*.sqlite3-journal
media/
static/
/local_settings.py

# OS or Editor specific
*.swp
.DS_Store
.vscode/
.idea/
*.log

# Temporary files
*.tmp
*.bak